{% extends 'admin/master.html' %}

{% block body %}
    <div id="no-more-tables">
        <table class="table table-striped table-bordered table-hover model-list cf">
            <thead class="cf">
                <tr>
                    <th class="column-header">
                        Name
                    </th>
                    <th class="column-header">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
            {% for image in images %}
                <tr>
                    <td>
                        <a href="../static/art/{{image.name}}" target="_blank">{{image.name}}</a>
                    </td>
                    <td>
                        <form method="post" style="margin:0;">
                            <input type="hidden" name="delete" value="{{image.name}}">
                            <input class="btn btn-danger" type="submit" value="Delete File">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}