<!DOCTYPE html>
<html>
    <head>    
        <meta name="viewport" content="width=device-width, initial-scale=0.8">
        
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='images/site.webmanifest') }}">
        
        <title>Drawing Board{% block title %}{% endblock %}</title>
        
        <meta name="description" content="Draw what's on your mind on a digital canvas and share it with the world! Look at paintings of other people in the gallery and add to the ever-growing collection.">
        <meta name="keywords" content="art, cldv, drawing board, drawing, board, gallery, scribble, skribbl, sketch, doodle, draw, drawing, paint, painting, fun, free, browser, online, draw anything, image, creative, creativity, canvas, open source, github, ColdIV">
        <meta name="robots" content="index, follow">
        <meta property="og:description" content="Draw what's on your mind on a digital canvas and share it with the world! Look at paintings of other people in the gallery and add to the ever-growing collection.">
        <meta property="og:type" content="website">

        {% block meta %}
        {% endblock %}

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    {% block content %}
    {% endblock %}
</html>