{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block meta %}
    <meta property="og:title" content="Drawing Board{{title}}">
    <meta property="og:site_name" content="{{site}}">
    <meta property="og:url" content="{{domain}}image/{{image.id}}">
    <meta property="og:image" content="{{domain}}../{{path}}/{{image.name}}">
{% endblock %}

{% block content %}
<body>
    <div class="picture-frame-wrapper">
        <div class="picture-frame">
            {% if image %}
            <img data-verified="{{image.verified == True}}" src="../{{path}}/{{image.name}}" alt="{{date}}">
            <div class="tape">{{date}}</div>
            {% else %}
            <div class="tape">not found</div>
            {% endif %}
        </div>
        <div class="links">
            <div class="controls">
                {% if previous %}
                    <a class="button" href="/image/{{previous.id}}">prev</a>
                {% else %}
                    <button class="disabled">prev</button>
                {% endif %}

                <a class="button" href="/image/{{random.id}}">random</a>
                
                {% if next %}
                    <a class="button" href="/image/{{next.id}}">next</a>
                {% else %}
                    <button class="disabled">next</button>
                {% endif %}
            </div>
            <a href="/">drawing board</a>
        </div>
    </div>
</body>
{% endblock %}