{% extends "base.html" %}
{% block content %}
    <body onload="init()">
        <div id="wrapper">
            <canvas id="can" width="400" height="400">Below you can write:</canvas>
            <div class="info">
                <div>
                    <a href="#" target="_blank">
                        <img src="static/images/github.png" height="28px">
                    </a>
                </div>
                <div>
                    <div id="currentColor"></div>
                </div>
                <div>
                    <button id="clearButton">clear</button>
                    <button id="saveButton" data-url="/save">save</button>
                </div>
                <div class="alerts">
                    <ul>
                        {% for alert in  alerts: %}
                            <li><span class="{{alert[0]}}">{{alert[0]}}</span>{{alert[1]}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="toggleCanvas" class="show">
            <span id="showCanvas" title="Show canvas">🖌</span>
            <span id="hideCanvas" title="Show images">🖼</span>
        </div>
        <div id="gallery">
            {% for image in images %}
                <img src="{{path}}/{{image.name}}">
            {% endfor %}
        </div>

        <script async src="static/script.js"></script>
    </body>
{% endblock %}