{% extends "base.html" %}
{% block content %}
    <body onload="init()">
        <div id="wrapper" class="loading">
            <canvas id="canvas" width="400" height="400"></canvas>
            <div class="info">
                <div>    
                    <div>
                        <a href="https://github.com/ColdIV/drawingboard" target="_blank">
                            <img src="static/images/github.png" height="28px">
                        </a>
                    </div>
                    <div class="colorContainer">
                        <button id="colorPalette" data-number="4">5</button>
                        <div id="currentColor"></div>
                    </div>
                    <div>
                        <button id="expandButton" data-show='+' data-hide='-'>+</button>
                        <button id="clearButton">clear</button>
                        <button id="saveButton" data-url="/save">save</button>
                    </div>
                </div>
                <div id="additionalControls" style="display: none">
                    <div>
                        <label for="eraser">
                            <input type="checkbox" id="eraser">
                            <span>eraser</span>
                        </label>
                    </div>
                    <div class="size-select">
                        <label for="small">
                            <input type="radio" name="size" id="small" data-size="1">
                            <span></span>
                        </label>
                        <label for="medium">
                            <input type="radio" name="size" id="medium" data-size="2" checked>
                            <span></span>
                        </label>
                        <label for="large">
                            <input type="radio" name="size" id="large" data-size="4">
                            <span></span>
                        </label>
                        <label for="extralarge">
                            <input type="radio" name="size" id="extralarge" data-size="8">
                            <span></span>
                        </label>
                    </div>
                    <button id="undoButton">undo</button>
                </div>
            </div>
        </div>
        <div id="toggleCanvas" class="show">
            <span id="showCanvas" title="Show canvas">
                <img src="static/images/paint-brush.svg" width="30px" height="30px">
            </span>
            <span id="hideCanvas" title="Show images">
                <img src="static/images/pictures.svg" width="30px" height="30px">
            </span>
        </div>
        <div id="gallery" data-offset="{{offset}}" data-url="/load/">
            <div id="filter" data-url="/filter/">
                <label for="year">Year</label>
                <select name="year" id="year">
                    <option value="0">All</option>
                    {% for year in years %}
                    <option value="{{year}}">{{year}}</option>
                    {% endfor %}
                </select>
                <label for="month">Month</label>
                <select name="month" id="month">
                    {% for month in months %}
                    <option value="{{ loop.index - 1 }}">{{month}}</option>
                    {% endfor %}
                </select>
                <button id="reset">reset</button>
            </div>
            <div class="image-container">    
                {% for image in images %}
                {% if not image.flag or image.verified %}
                <img loading="lazy" data-id="{{image.id}}" data-verified="{{image.verified == True}}" src="{{path}}/{{image.name}}">
                {% endif %}
                {% endfor %}
            </div>
            <button id="loader">load more</button>
        </div>

        <div id="lightbox">
            <div class="lightbox-wrapper">    
                <div class="image-wrapper"></div>
                <div class="info-wrapper">
                    <span id="closeButton">✖</span>
                    <span id="link-wrapper">
                        <a target="_blank" href="">permalink</a>
                    </span>
                    <button id="flagButton" data-url="/report">report</button>
                    <span id="verified">verified</span>
                </div>
            </div>
        </div>

        <div class="alerts">
            <ul>
                {% for alert in  alerts: %}
                    <li><span class="{{alert[0]}}">{{alert[0]}}</span>{{alert[1]}}</li>
                {% endfor %}
            </ul>
        </div>

        <script async src="static/script.js"></script>
        <script async src="static/imageLoader.js"></script>
    </body>
{% endblock %}